@charset "UTF-8";

$text-main: "Barlow", sans-serif;

$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

$fs-base: 16px;
$fs-header: 32px;

$px-S: 8px;
$px-M: 16px;
$px-L: 24px;
$px-XL: 32px;
$px-XXL: 40px;

$color-main: #003058;
$color-bg: #ffffff;
$color-accent: #0073ce;
$color-accent-2: #46d7ac;

$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;

#es-rc #es-rc-content {
  font-family: $text-main;
  font-size: $fs-base;
  font-weight: $fw-medium;
  line-height: 1.2;
  color: $color-main;
  background-color: $color-bg;
  max-width: 990px;
  margin: auto;

  ::selection {
    background-color: $color-accent-2;
    color: #fff;
  }

  // minimal css reset

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .es-section-title {
    font-size: $fs-header;
    font-weight: $fw-bold;
    text-align: center;
    margin-block: $px-M;
  }

}
